* {
    transition: all 0.4s ease;
}
body {
    height: 100vh;
    background: url("../image/AdministratorRegister.jpg") no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.form{
    background: rgba(255,255,255,0.7);
    padding: 10px 0;
    width: 500px;
}

.input{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 6%;
}

.title{
    text-align: center;
    margin-bottom: 4%;
}
.botton-rigister-div{
    margin-bottom: 5%;
    margin-left: 10%;
}
.botton-rigister{
    width: 88%;
}